*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    /* color: aqua; */
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;

}
h1{
    margin: 30px;
    font-size: 60px;
}

.parties{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.party{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: bisque;
    padding: 10px 40px;
    background-color: blue;
    border: 1px solid #5cdb94;
    margin: 2px;
}

.party button{
    color: beige;
    background-color: blue;
    border: none;
    font-size: 24px;
    outline: none;
    cursor: pointer;
}